{% load static %}
{% include 'header.html'%}
<style>
 .right-image {
    width: 50%;
    overflow: hidden;
    hhttp: //127.0.0.1:8000/eight;
    hhttp: //127.0.0.1:8000/;
    height: 290px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin: 20px 40px;
    </style>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

<!-- Page Content -->
    <div class="page-heading contact-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">

            </div>
          </div>
        </div>
      </div>
    </div>


{% for i in ad %}
<li>
    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">

            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="{{i.img1.url}}" alt=""  >
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>{{i.ad_name}}</h4>
                <p>{{i.ad_des}}<br><b>{{i.ad_cat}}</b></p>
              <a href="deletedata/{{i.id}}">Delete Ad</a><br>
                <a href="changedata/{{i.id}}">Update AD</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</li>
{% endfor %}


<br><br><br><br><br><br>
    {% include 'footer.html'%}

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>


    <!-- Additional Scripts -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/owl.js' %}"></script>
    <script src="{% static 'assets/js/slick.js' %}"></script>
    <script src="{% static 'assets/js/isotope.js' %}"></script>
    <script src="{% static 'assets/js/accordions.js' %}"></script>


    <script language = "text/Javascript">
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>


  </body>

</html>